body {
  font-family: 'Nanum Gothic', sans-serif;
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  
}
header {
  width: 100%;
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
  position: fixed;
  top: 0;
  z-index: 9;

}
header >.inner {
  height: 120px;


}
header .logo {
  background-color: blue;
  height: 75px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.logo > image {
  size: 100%;

}
img {
  display: block;
}
a {
  text-decoration: none;
}
.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}